#qr-scan {
    margin-bottom: 20px;
    flex-direction: column;
}

#qr-scan .form-control {
    border-width: thick;
    border-color: #342006;
    border-radius: 0;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: #342006;
}

#qr-scan .form-control:active {
    border-color: #342006;
}

#qr-scan .form-control:focus {
    border-color: #342006;
    box-shadow: 0 0 0 0.0rem rgb(52 32 6 / 25%);
}

#qr-icon {
    fill: #342006;
    margin-top: 5vh;
    height: auto;
}

#qr-search {
    flex-direction: row-reverse;
}

#search-btn {
    fill: #DBB688;
    padding: 0 10px;
    background-color: #342006;
    height: 60px;
}