.App {
    width: 100vw;
    height: 100%;
    color: #342006;
}

.App-with-recipe {
    height: 100%;
}

.seperator {
    margin: 10px 0;
    background-color: #342006;
    height: 3px;
    width: 80%;
}